@import '../../index.scss';

.purple-banner{
    background-color: $site-theme-color;
    width: 100vw;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media (min-width: 1024px) {
        height: 1em;
    }
    & span{
        color: white;
        margin-bottom: 1em;
        @media (min-width: 1024px) {
            display: none;
            margin: none;
        }
    }
}