@import "../../index.scss";

.sponsor {
  &-banner {
    display: flex;
    justify-content: space-between;
    height: 0.75em;
    padding-block: 0.875em;
    padding-left: 0.875em;
    background-color: $navbar-color;
    box-shadow: 0px 1px #e8e7ea;

    &-logo {
      display: flex;
      &-text {
        font-size: 8px;
        align-self: center;
        word-spacing: 2px;
        margin-right: .5em;
      }
    }
    img {
      height: 100%;
    }

    #sponsor-chevron {
      margin-right: 1em;
      @media (min-width: 1024px) {
        display: none;
      }
    }

    &-dropdown-mobile {
      display: flex;
      flex-direction: row;
      font-size: 0.75em;
      padding: 0.875em;
      background-color: $navbar-color;
      a {
        padding-right: 0.5em;
      }
      @media (min-width: 1024px) {
        display: none;
      }
    }

    &-desktop {
      display: flex;
      align-self: center;
      font-size: 16px;
      margin-right: 5em;

      a {
        margin-right: 0.5em;
      }
      @media (max-width: 480px) {
        display: none;
      }
    }

    @media (min-width: 1024px) {
      padding-left: 6em;
    }
  }
}

.bannerHidden {
  transform: rotate(0deg);
  transition: 180ms ease-in-out;
}

.bannerOpen {
  transform: rotate(-180deg);
  transition: 180ms ease-in-out;
}
