@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Delius+Swash+Caps&family=Fuzzy+Bubbles:wght@700&family=Grand+Hotel&family=Hachi+Maru+Pop&family=Sofia&family=Twinkle+Star&display=swap');

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

$navbar-color: #efeef1;
